/* RESETS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* FONTS AND COLORS */

:root {
  --dark-bg: #1f2937;
  --txt-main: #f9faf8;
  --txt-secondary: #e5e7eb;
  --button-color: #3882f6;
  --info-header-txt: #1f2937;
  --quote-bg: #e5e7eb;
  --quote-txt: #1f2937;
}

body {
  font-family: Roboto, sans-serif;
}

header,
.hero-section,
footer {
  background-color: var(--dark-bg);
  color: var(--txt-main);
}

.header-logo {
  font-size: 24px;
  font-weight: 600;
}
header ul {
  font-size: 18px;
  color: var(--txt-secondary);
}

.hero-container h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero-container p {
  color: var(--txt-secondary);
  font-size: 18px;
}

.information-section h2 {
  font-size: 36px;
  font-weight: 900;
}

.information-section p {
  color: var(--quote-txt);
}

.quote-section {
  background-color: var(--quote-bg);
}

.quote-section blockquote {
  font-size: 36px;
  color: var(--quote-txt);
  font-style: italic;
  font-weight: 300;
}

.quote-section p {
  color: var(--info-header-txt);
  font-size: 18px;
  font-weight: 600;
}

.cta-container {
  background-color: var(--button-color);
}

button,
.cta {
  background-color: var(--button-color);
  color: var(--txt-main);
}

button {
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
}

.cta p {
  color: var(--txt-secondary);
}

/* PLACEHOLDERS */

.image-placeholder {
  height: 250px;
  width: 550px;
  background-color: rgb(115, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  border: 4px solid rgba(0, 123, 255, 0.942);
  border-radius: 10%;
  height: 175px;
  width: 175px;
}

/* FLEXBOX STYLING */
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

header div {
  margin-left: 8vw;
}

header ul {
  display: flex;
  gap: 1rem;
  margin-right: 8vw;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 8em;
}

.hero-container {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}

.information-section {
  display: flex;
  flex-direction: column;
}

.information-section h2 {
  text-align: center;
  margin-top: 45px;
}

.information-section .big-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 60px;
  margin-bottom: 60px;
}

.information-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-section p {
  width: 150px;
  text-align: center;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.quote-section blockquote {
  width: 700px;
}

.quote-section p {
  text-align: right;
  align-self: flex-end;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 50px;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 40px 80px;
  gap: 60px;
}

.cta-container button {
  border: white solid 2px;
}
